.second {
  color: green;
}
code {
  color: red;
  font-family: monospace;
}
h1 {
  color: blue;
  font-family: sans-serif;
}
body {
  font-family: serif;
}
li + li {
  background: black;
  color: white;
}
/* ol li {
  background: black;
  color: white;
} */